.search-bar {
    display: flex;
    gap: 8px;
    align-items: center
}

.search-bar .input {
    flex: 1
}


/* Form */
.form-grid {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 12px;
    align-items: center
}

.form-actions {
    grid-column: 1/-1;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 8px
}

@media (max-width:640px) {
    .form-grid {
        grid-template-columns: 1fr
    }
}